* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.square {
    float: left;
    width: 402px;
    height: 602px;
    .title {
        margin: 20px auto;
        font-size: 30px;
    }
}
.game {
    position: relative;
    float: left;
    width: 202px;
    height: 402px;
    background-color: #f2faff;
    border: 1px solid blue;
    // border-top: none;
}
.next {
    position: relative;
    float: left;
    width: 82px;
    height: 82px;
    margin-left: 40px;
    border: 1px solid blue;
    background-color: #f2faff;
}
.info {
    float: left;
    margin-left: 40px;
    margin-top: 10px;    
}
.none, .current, .done {
    position: absolute;
    width: 20px;
    height: 20px;
}
.none {
    background-color: #f2faff;
}
.current {
    background-color: pink;
    border: 1px solid red;
}
.done {
    background-color: gray;
    border: 1px solid black;
}