* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 202px;
    height: 402px;
    background-color: #f2faff;
    border: 1px solid blue;
    // border-top: none;
}
.next {
    position: absolute;
    top: 10px;
    left: 250px;
    width: 82px;
    height: 82px;
    border: 1px solid blue;
    background-color: #f2faff;
}
.info {
    position: absolute;
    top: 100px;
    left: 250px;
}
.none, .current, .done {
    position: absolute;
    width: 20px;
    height: 20px;
}
.none {
    background-color: #f2faff;
}
.current {
    background-color: pink;
    border: 1px solid red;
}
.done {
    background-color: gray;
    border: 1px solid black;
}